@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root {
    --primary-color: #0D0630;
    --secondary-color: #384e77;
    --accent1-color: #8bbeb2;
    --accent2-color: #e6f9af;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Rock Salt', serif;

    --nav-background-color: #0d0630;
    --nav-link-color: #8bbeb2;
    --nav-hover-link-color: #8bbeb2;
    --nav-hover-background-color: #384e77;
}

#content {
    max-width: 840px;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    margin: 0 0.25rem 0 1rem;
    width: 10px;
    height: auto;
}

nav {
    background-color:#0D0630;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    padding: .5rem;    
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    
}

.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

.grid {
    display: grid;
    align-items: center;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}


h1 {
    position: absolute;
    color: white;
    bottom: 500px;
    left: 300px;
    font-family: 'Roboto', serif;
}

.purpose {
    position: absolute;
    box-sizing: border-box;
	top: 100px;
	left: 15px;
	background: radial-gradient(#eee, #4567aa);
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.8;
    margin: 10px;
    width: 800px;
    font-family:sans-serif;

}

.floater {
    height: 150px;
    float: right;
    max-width: 40%;
}

section {
    position: relative;
	padding: 0.65rem;
    font-family: sans-serif;

}

