@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root {
    --primary-color: #0D0630;
    --secondary-color: #384e77;
    --accent1-color: #8bbeb2;
    --accent2-color: #e6f9af;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Rock Salt', serif;

    --nav-background-color: #0d0630;
    --nav-link-color: #8bbeb2;
    --nav-hover-link-color: #8bbeb2;
    --nav-hover-background-color: #384e77;
}

body {
    font: var(--heading-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);   
}

p {
    font-family: var(--paragraph-font);
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}